html,
body {
  height: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

h1{
    letter-spacing: 2px;
}

a {
  text-decoration: none;
}

#app,
.app-container {
  height: 100%;
}

.new {
  color: red;
}
